<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<!-- Configurações de autenticação -->
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="2880"/>
		</authentication>
		<!-- Configuração de autorização -->
		<authorization>
			<deny users="?"/>
			<!-- Negar acesso a usuários anônimos -->
		</authorization>
		<compilation debug="true"/>
	</system.web>
	<!-- Configuração da string de conexão com o banco de dados -->
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=SEU_SERVIDOR;Initial Catalog=SEU_BANCO_DE_DADOS;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
